body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.my-info {
  padding: 2rem 5rem;
}

.my-info h3 {
  background-color: #3aa9ac3b;
  font-size: 20px;
  max-width: 50%;
  text-align: center;
  margin-bottom: 20px;
  margin: auto;
}

.my-info h4 {
  background-color: #e8edee;
  font-size: 20px;
  max-width: 50%;
  margin: auto;
}

@media (max-width:768px) {
  .my-info h3 {
    font-size: 15px;
  }

  .my-info h4 {
    font-size: 15px;
  }
}

.btn-info {
  background-color: rgb(102, 205, 170) !important;
  color: rgb(32, 11, 11) !important;
  margin-left: 5px;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.btn-info:hover {
  background-color: rgb(255, 255, 255) !important;
}

.modal-dialog {
  margin-top: 50px;
}

/* CopyRight */
.copyright {
  border-top: 1px solid #3333334f;
  background-color: #FFA0A0;
  padding-top: 20px;
  color: #7E7474;
}

.copyright li a {
  color: #08526d;
  margin: 0 10px;
}

.copyright li {
  display: inline-block;
  font-size: 20px;
}
